!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ 'http-equiv': "X-UA-Compatible", content: "IE=edge" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Makar Data Manager'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Makar Data Manager'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :document_ready
  %body#root
    -# Top Nav
    = render 'layouts/navbar'

    -# Side Nav
    .ui.padded.grid.container
      .sixteen.wide.column#content
        .ui.padded.grid
          = render 'layouts/messages'
          = yield



